PORT=8560
BRIDGE_BASE_URL=http://127.0.0.1:8555
WEBHOOK_SECRET=
OUTGOING_WEBHOOK_URL=
OUTGOING_WEBHOOK_TOKEN=
POLL_INTERVAL_MS=2000
BOOTSTRAP_MARK_SEEN_ONLY=true
DELIVERY_RETRY_BASE_MS=5000
DELIVERY_RETRY_MAX_MS=300000
DELIVERY_MAX_ATTEMPTS=10
STORE_PATH=./data/store.json
LOG_PATH=./data/engine.log
DELIVERY_QUEUE_PATH=./data/delivery-queue.json
