PORT=8560
BRIDGE_BASE_URL=http://127.0.0.1:8555
WEBHOOK_SECRET=
OUTGOING_WEBHOOK_URL=
OUTGOING_WEBHOOK_TOKEN=
POLL_INTERVAL_MS=2000
BOOTSTRAP_MARK_SEEN_ONLY=true
STORE_PATH=./data/store.json
LOG_PATH=./data/engine.log
